$secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
}

a,
#buttoAddTicket,
#loadRealBtn,
#loadFakeBtn {
  background: linear-gradient(to right, #2c5364, #203a43, #224a5c);
  letter-spacing: 1px;
  text-decoration: none;
  background: linear-gradient(to right, #2d5f75, #5ab5d3, #224a5c);
  padding: 10px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
  border-radius: 10px;
  // padding: 0.3rem 1rem;
}

.ticketHeader {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background: linear-gradient(to right, #2d5f75, #5ab5d3, #224a5c);
  padding: 10px 5px;
  display: inline-flex;
  width: 100%;
  transition: all 0.5s;
  padding: 0;
  width: 600px;
  margin: 0.5rem auto;
  overflow: hidden;
  border-radius: 30px;
}
#ticketCategor {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.listItem {
  display: flex;
  align-content: flex-start;
}
#listOptions {
  background: rgb(187, 229, 250);
  color: black;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 0.5rem;
}

a:hover {
  background: #5ab5d3;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  // padding: 50px;
}

.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 25rem;
  width: 100%;
  overflow: scroll;
}

@media all and (max-width: 1000px) {
}

@media all and (max-width: 500px) {
}
